
.litao
{
	border:4px solid #80c7ed;
	border-top:20px solid #80c7ed;
	width:940px;
	height:830px;
	margin:auto;
	border-radius:8px;
	
}
.litao_1
{
	width:679px;
	float:left;
	height:830px;
	border-right:1px solid rgba(84,84,84,0.3);
	
}
.litao_2
{
	width:257px;
	float:right;
	height:830px;
	position:relative;
}
.litao_2 img
{
	width:150px;
	height:150px;
	position:absolute;
	bottom:20px;
	right:0;
}
.litao_2 span
{
	position:absolute;
	width:100%;
	text-align:center;
	bottom:10px;
	left:0;
	color:rgba(84,84,84,0.3);
	font-size:16px;
}
.litao_3
{
	width:100%;
	height:659px;
	border-bottom:1px solid rgba(84,84,84,0.3);
}
.litao_4
{
	width:100%;
	height:170px;
	position:relative;
}
.litao_4 textarea:nth-child(1)
{
	width:96%;
	height:100px;
	position:absolute;
	border:0;
	outline:none;
	left:2%;
	top:10px;
}
.litao_4 button:nth-child(2)
{
	width:74px;
	height:28px;
	line-height:28px;
	text-align:center;
	color:#848484;
	position:absolute;
	right:118px;
	background:#fff;
	bottom:12px;
	border:1px solid #CCC;
	cursor:pointer;
}
.litao_4 button:nth-child(3)
{
	width:74px;
	height:28px;
	line-height:28px;
	text-align:center;
	color:#848484;
	position:absolute;
	right:22px;
	background:#58b4e6;
	bottom:12px;
	border:1px solid #58b4e6;
	cursor:pointer;
}

.RightCont{
	-webkit-box-flex: 1;
	overflow-y: scroll;
}

.RightCont::-webkit-scrollbar{
	width: 15px;
}
.RightCont ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.RightCont li{
	width: 100%;
	min-height: 50px;
	height:auto;
	/*display: -webkit-box;
	-webkit-box-orient: horizontal;*/
	margin-top: 10px;
}


.answerHead{
	    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 15px;
    float: right;
}
.answerHead img{
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.answers{
	width: auto;
	max-width:540px;
    min-height: 30px;
	height:auto;
    background:#eeeeee;
    padding: 5px 20px;
    margin: 4px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
    float: right;
	word-wrap:break-word;
}
.answers .jiao{
	    position: absolute;
    right: -8px;
    top: 10px;
}
 .answers .Expr{
	width: 50px;
	height: 30px;
	margin: 5px;
}
.nesHead{
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-left:15px ;
	float: left;
}
.nesHead img{
	width: 44px;
    height: 44px;
    border-radius: 50%;
}
.news{
	width: auto;
	max-width:540px;
    min-height: 40px;
	height:auto;
    background: #eeeeee;
    padding: 5px 20px;
    margin: 4px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
	word-wrap:break-word;
}
.news .jiao{
	position: absolute;
    left: -8px;
    top: 10px;
}
.clear
{
	clear:both;
}
.p1
{
	height:30px;
	margin:0;
	padding:0;
}
.p1 a
{
	color:#09F;
	cursor:pointer;
}
.p2
{
	height:30px;
	margin:0;
	padding:0;
}