
.btn-play{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    /*!*background-image: url(*!<?php //echo $HTTP_PATH.$placehold; ?>!*);*!*/
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

.btn-play img {
    position: absolute;
    width: 48px;
    height: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
}